html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 840px;
    row-gap: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item {
    position: relative;
    width: 400px;
    height: 400px;
    background-color: aquamarine;
}

.item:hover .button:nth-child(1) {
    animation: slide-bottom 0.3s linear forwards;
}
.item:hover .button:nth-child(2) {
    animation: slide-bottom 0.3s linear 0.1s forwards;
}

.buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    transform: translate(-50%, -50%);
}

.button {
    padding: 15px 20px;

    transform: translate(-0, 100%);
    opacity: 0;

    animation: slide-out 0.3s linear forwards;
}

@keyframes slide-bottom {
    0% {
        transform: translate(0, 100%);
        opacity: 0;
    }

    100% {
        transform: translate(0  , 0);
        opacity: 1;
    }
}

@keyframes slide-out {
    0% {
        transform: translate(0, 0);
        opacity: 1;
    }
    100% {
        transform: translate(0, 100%);
        opacity: 0;
    }
}